h2{color: grey;}

h1{color: dimgray;}

body {background-image: url(./images/fondo\ web\ 11.jpg.crdownload);background-repeat: no-repeat;background-size: cover;}

*{color: whitesmoke;}
h1{text-align: center;}


/* esto es para comentarios
*
*
*
*
*/
